<footer class="site-footer">
      <div class="footer-container">
    
        <div class="footer-col logo-col">
          <h2 class="footer-logo">FootballStyle</h2>
          <p class="footer-copy">© 2025 KickPoint. Усі права захищені.</p>
        </div>
    
        <div class="footer-col">
          <h3 class="footer-title red">МЕНЮ</h3>
          <ul class="footer-list">
            <li><a href="index.html">МАГАЗИН</a></li>
            <li><a href="about.html">ПРО НАС</a></li>
            <li><a href="delivery.html">ДОСТАВКА І ОПЛАТА</a></li>
            
          </ul>
        </div>
    
        <div class="footer-col" id="contacts">
          <h3 class="footer-title red">КОНТАКТИ</h3>
          <p class="footer-contact">+38 (097) 9683529</p>
          <p class="footer-contact">kickpointua@gmail.com</p>
        </div>
    
        <div class="footer-col">
          <h3 class="footer-title red">НЕЗАБАРОМ МИ У СОЦІАЛЬНИХ<br>МЕРЕЖАХ</h3>
          <div class="footer-socials">
            <a href="https://www.instagram.com/_footballstyle_internet_shop/"><img src="{{ url_for('static', filename='assets/icons/instagram.png') }}" alt="Instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=61577408243455"><img src="{{ url_for('static', filename='assets/icons/facebook.png') }}" alt="Facebook"></a>
            <a href="https://www.youtube.com/@footballstyle_internet_shop"><img src="{{ url_for('static', filename='assets/icons/youtube.png') }}" alt="YouTube"></a>
            
          </div>
        </div>
    
      </div>
</footer>